# Build files
build/
Debug/
Release/
x64/
x86/
.vs/

# Compiled files
*.exe
*.obj
*.o
*.dll
*.pdb
*.ilk

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Temporary files
*.log
*.tmp
.DS_Store
Thumbs.db